<form class="dice-roller">
    <mat-form-field class="dice-count">
        <input matInput [value]="diceCount" (keyup)="diceCount=$event.target.value"/>
    </mat-form-field>

    <ng-template [ngIf]="diceCount <= 1" [ngIfElse]="plural">dice</ng-template>
    <ng-template #plural>dices</ng-template>

    <mat-form-field class="face-count">
        <input matInput [value]="faceCount" (keyup)="faceCount=$event.target.value"/>
    </mat-form-field>

    <button mat-button (click)="roll($event)">Roll</button>
    
    <div class="result" *ngIf="rolled">
        {{result}} {{ dices | json }}
    </div>
</form>

  
  