<app-two-pages [sheetConfig]="sheetConfig"></app-two-pages>

<div class="config-panel">
    <button mat-button (click)="save()" class="save-button">
        Save <mat-icon aria-hidden="true">save</mat-icon>
    </button>
    <!--
        <label for="page-size">
            Page width ({{ sheetConfig.pageConfig.pageWidth}}%): 
            <mat-slider id="page-size" name="page-size" min="10" max="100" step="1" [(value)]="sheetConfig.pageConfig.pageWidth" thumbLabel></mat-slider>
        </label>
    -->
</div>