:host {
    div {
        display: block;
        position: absolute;
        background: rgba(255,255,255,0.6) repeat;
        height: 1em;
        line-height: 1em;
        // border: dotted thin orange;
    }
}