:host {
    button {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: var(--color-floating-button-background);
        padding-left: 0.4em;
        padding-right: 0.4em;
        min-width: fit-content;
    }
}