@import '../checkbox';

:host {
    div {
        display: block;
        position: absolute;
        outline: dotted thin sienna;

        .checkbox {
            @include checkbox-shape();
        }
    }
}