<ng-template [ngIf]="saveService">
    <ng-container [ngSwitch]="saveService.saveState() | async">
        
        <ng-template [ngSwitchCase]="'idle'">
            <button mat-raised-button color="primary" class="save-button idle">
                {{ 'sheet.save-button.save' | translate }}
                <mat-icon aria-hidden="true">save</mat-icon>
            </button>
        </ng-template>
        
        <ng-template [ngSwitchCase]="'saving'">
            <button mat-raised-button color="primary" class="save-button saving" disabled>
                {{ 'sheet.save-button.saving' | translate }}
                <mat-icon aria-hidden="true">loop</mat-icon>
            </button>
        </ng-template>
        
        <ng-template [ngSwitchCase]="'saved'">
            <button mat-raised-button color="primary" class="save-button saved">
                {{ 'sheet.save-button.saved' | translate }}
                <mat-icon aria-hidden="true">done</mat-icon>
            </button>
        </ng-template>
        
    </ng-container>
</ng-template>