@import '../checkbox';

:host {
    label {
        display: block;
        position: absolute;
        // outline: dotted thin green;

        .checkbox {
            @include checkbox-shape();
        }

        input {
            display: none;
        }
    }
}