<div class="sheet-note-wrapper">
    <div class="sheet-wrapper" #sheetWrapper [style.width]="sheetWrapperWidthPx$ | async">
        <ng-content></ng-content>
        <app-home-button></app-home-button>
        <app-save-button (click)="save()"></app-save-button>
        <app-sheet-config-toggle-button></app-sheet-config-toggle-button>
    </div>
    <div class="resize-holder-wrapper">
        <div class="resize-holder" cdkDrag cdkDragLockAxis="x" (cdkDragMoved)="dragMove($event)" (cdkDragEnded)="dragEnd()"></div>
    </div>
    <app-note-zone [gameSheetId]="gameSheetId"></app-note-zone>
</div>
<app-sheet-config-panel></app-sheet-config-panel>