<div class="pages" #pages [class.ratio-A4]="sheetData.pageConfig.pageFormat === 'A4'">
    <div class="page" id="page-1">
        <div class="page-input-container">
            <ng-template ngFor let-data [ngForOf]="sheetData.content.page1" >
                <input type="text"
                    [style.left]="data.x+'%'" 
                    [style.top]="data.y+'%'" 
                    [style.width]="data.width+'%'"
                    [style.font-size]="data.fontSize ? (data.fontSize*100)+'%' : undefined"
                    [name]="data.key"
                    [(ngModel)]="data.value" />
            </ng-template>        
        </div>
    </div>
    <div class="page" id="page-2">
        <div class="page-input-container">
            <ng-template ngFor let-data [ngForOf]="sheetData.content.page2" >
                <input type="text"
                    [style.left]="data.x+'%'" 
                    [style.top]="data.y+'%'" 
                    [style.width]="data.width+'%'"
                    [style.font-size]="data.fontSize ? (data.fontSize*100)+'%' : undefined"
                    [name]="data.key"
                    [(ngModel)]="data.value" />
            </ng-template>        
        </div></div>
</div>
<!-- [style.background-image]="pages[0]" -->
<!--  -->
<div class="config-panel">
    <button mat-button (click)="save()" class="save-button">
        Save <i class="icon">save</i>
    </button>
    <!--
        <label for="page-size">
            Page width ({{ sheetData.pageConfig.pageWidth}}%): 
            <mat-slider id="page-size" name="page-size" min="10" max="100" step="1" [(value)]="sheetData.pageConfig.pageWidth" thumbLabel></mat-slider>
        </label>
    -->
</div>