
@mixin checkbox-shape($fill-color) {
    $border-width: 2px;
    width: 100%;
    padding-top: 100%;

    &.checked {
        &.square {
            border: solid $fill-color $border-width;
        }
        &.circle {
            border: solid $fill-color $border-width;
            border-radius: 50%;
        }
        &.filled-square {
            background-color: $fill-color;
        }
        &.filled-circle {
            background-color: $fill-color;
            border-radius: 50%;
        }
    }
}