
@mixin checkbox-shape() {
    $border-width: 2px;

    width: 100%;
    padding-top: 100%;

    &.checked {
        &.cross {
            background: linear-gradient(45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 43%,var(--color-primary) 45%,var(--color-primary) 55%,rgba(0,0,0,0) 57%,rgba(0,0,0,0) 100%),
            linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 43%,var(--color-primary) 45%,var(--color-primary) 55%,rgba(0,0,0,0) 57%,rgba(0,0,0,0) 100%);
        }
        &.tick {
            &:after {
                position: relative;
                top: -1em;
                width: 100%;
                padding-top: 100%;
                color: var(--color-primary);
                content: "\2713";
            }
        }
        &.square {
            border: solid var(--color-primary) $border-width;
        }
        &.circle {
            border: solid var(--color-primary) $border-width;
            border-radius: 50%;
        }
        &.filled-square {
            background-color: var(--color-primary);
        }
        &.filled-circle {
            background-color: var(--color-primary);
            border-radius: 50%;
        }
    }
}