<ng-template [ngIf]="sheetConfig">
    
    <div class="pages" [ngClass]="pageConfigService.ngClass(sheetConfig.pageConfig) | async" #pages>
        <div class="page-wrapper">
            <div class="page" id="page-1" [ngStyle]="pageConfigService.ngStyle(sheetConfig,1)">
                <div class="page-input-container">
                    <ng-template ngFor let-config [ngForOf]="sheetConfig.content.page1" >
                        <app-placeholder [config]="config" [characterData]="characterData"></app-placeholder>
                    </ng-template>        
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="page" id="page-2" [ngStyle]="pageConfigService.ngStyle(sheetConfig,2)">
                <div class="page-input-container">
                    <ng-template ngFor let-config [ngForOf]="sheetConfig.content.page2" >
                        <app-placeholder [config]="config" [characterData]="characterData"></app-placeholder>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</ng-template>
