<ng-template [ngIf]="sheetConfigPanelService.panelIsOpened$ | async">
    <div class="wrapper">
        <button mat-stroked-button (click)="toggleShowShareLink()">{{ 'sheet-config-panel.share-link.button' | translate }}</button>
        <ng-template [ngIf]="showShareLink">
            <form>
                <mat-form-field class="share-link-input">
                    <mat-label>{{ 'sheet-config-panel.share-link.label' | translate }}</mat-label>
                    <input matInput [value]="shareLink" #shareLinkInput />
                    <mat-hint align="start"><strong>{{ 'sheet-config-panel.share-link.hint' | translate }}</strong></mat-hint>
                    <mat-icon matSuffix (click)="copyShareLinkToClipboard()">file_copy</mat-icon>
                </mat-form-field>
            </form>
        </ng-template>
        <a mat-stroked-button target="_blank" [routerLink]="['/raw-editor/'+sheetStateService.currentGameSheetId]">
            {{ 'sheet-config-panel.raw-editor-button' | translate }}
        </a>
    </div>
    <app-sheet-config-toggle-button [forceShow]="true"></app-sheet-config-toggle-button>
</ng-template>
