<form *ngIf="filteredKeys$ | async as keys" [formGroup]="form" (ngSubmit)="onSubmit()" class="mat-elevation-z8">

    <mat-form-field class="filter-keys-field">
        <mat-label>{{ 'raw-editor.filter-input.label' | translate }}</mat-label>
        <input matInput (keyup)="filterChange($event)"/>
        <mat-hint align="start"><strong>{{ 'raw-editor.filter-input.hint' | translate }}</strong></mat-hint>
    </mat-form-field>

    <table mat-table [dataSource]="keys">

        <ng-container matColumnDef="key">
            <th mat-header-cell *matHeaderCellDef> {{ 'raw-editor.table.heading.key' | translate }} </th>
            <td mat-cell *matCellDef="let element">
                <input matInput class="data-key" [formControlName]="element+'_key'" />
            </td>
        </ng-container>

        <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef> {{ 'raw-editor.table.heading.value' | translate }} </th>
            <td mat-cell *matCellDef="let element">
                <input matInput class="data-value" [formControlName]="element+'_value'" />
            </td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> {{ 'raw-editor.table.heading.delete' | translate }} </th>
            <td mat-cell *matCellDef="let element">
                <ng-template [ngIf]="element !== 'characterName'">
                    <button mat-icon-button color="warn" (click)="deleteLine(element)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </ng-template>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.dropping]="droppingKeys.includes(row)"></tr>
        
    </table>

    <div class="no-data" *ngIf="keys.length === 0">
        {{ 'raw-editor.table.no-data' | translate }}
    </div>

    <div class="save-button-wrapper">
        <app-raw-editor-save-button class="save-button"></app-raw-editor-save-button>
    </div>
</form>