<ng-template [ngIf]="config">
    <ng-container [ngSwitch]="config.type">
        <app-placeholder-text-input *ngSwitchCase="'text-input'" [config]="textInputConfig"
            [characterData]="characterData">
        </app-placeholder-text-input>
        <app-placeholder-text-zone *ngSwitchCase="'text-zone'" [config]="textZoneConfig"
            [characterData]="characterData">
        </app-placeholder-text-zone>
        <app-placeholder-number-input *ngSwitchCase="'number-input'" [config]="numberInputConfig"
            [characterData]="characterData">
        </app-placeholder-number-input>
        <app-placeholder-number-computed *ngSwitchCase="'number-computed'" [config]="numberComputedConfig"
            [characterData]="characterData"></app-placeholder-number-computed>
        <app-placeholder-checkbox *ngSwitchCase="'checkbox'" [config]="checkboxConfig" [characterData]="characterData">
        </app-placeholder-checkbox>
        <app-placeholder-checkbox-group *ngSwitchCase="'checkbox-group'" [config]="checkboxGroupConfig"
            [characterData]="characterData"></app-placeholder-checkbox-group>
    </ng-container>
</ng-template>