/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: small;
    
    input {
        font-size: 0.65rem;
    }
}

@keyframes rotating {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes squashHeightOut {
    from {
        opacity: 1;
        height: initial;
    }
    to {
        opacity: 0;
        height: 0;
    }
}