@use "@angular/material" as mat;

// "./node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css",
@include mat.core();

$custom-primary: mat.define-palette(mat.$deep-purple-palette);
$custom-accent: mat.define-palette(mat.$pink-palette);
$custom-warn: mat.define-palette(mat.$amber-palette);
$custom-background: mat.define-palette(mat.$gray-palette);

$custom-theme: mat.define-light-theme(
  $custom-primary,
  $custom-accent,
  $custom-warn
);

@include mat.all-component-themes($custom-theme);

$color-primary: mat.get-color-from-palette($custom-primary);
$color-accent: mat.get-color-from-palette($custom-accent);
$color-warn: mat.get-color-from-palette($custom-warn);
$color-background: mat.get-color-from-palette($custom-background, 300);
$color-floating-button-background: rgba(255, 255, 255, 0.5);

:root {
  --color-primary: #{$color-primary};
  --color-accent: #{$color-accent};
  --color-warn: #{$color-warn};
  --color-background: #{$color-background};
  --color-floating-button-background: #{$color-floating-button-background};
}
