:host {

    .tab-sheet-count-badge {
        margin-left: 1em;
        width: 1.8em;
        height: 1.8em;
        padding: 0.4em 0.2em 0em 0.2em;
        border-radius: 50%;
        background-color: var(--color-background);
        text-align: center;
    }

    app-game-section {
        display: inline-block;
        margin: 1.5vw 0;
    }
    
    .mat-divider {
        border-color: var(--color-primary);
        margin: 0 0.5vw;
    }
}