:host {

    .tab-sheet-count-badge {
        margin-left: 1em;
    }

    app-game-section {
        display: inline-block;
        margin: 1.5vw 0;
    }
    
    .mat-divider {
        border-color: var(--color-primary);
        margin: 0 0.5vw;
    }
}