<mat-toolbar>RPG Character Sheet</mat-toolbar>

<mat-tab-group mat-align-tabs="center" [selectedIndex]="selectedTab">
    <mat-tab>
        <ng-template mat-tab-label>
            {{ 'sheet-selector.tabs.my-sheets' | translate }}
            <div class="tab-sheet-count-badge">{{ownGamesSheetCount}}</div>
        </ng-template>
        <mat-action-list>
            <ng-template ngFor let-game [ngForOf]="ownGamesSheet" let-isLast="last">
                <app-game-section mat-list-item [game]="game"></app-game-section>
                <mat-divider *ngIf="!isLast" ></mat-divider>
            </ng-template>
        </mat-action-list>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            {{ 'sheet-selector.tabs.all' | translate }}
            <div class="tab-sheet-count-badge">{{gamesSheetCount}}</div>
        </ng-template>
        <mat-action-list>
            <ng-template ngFor let-game [ngForOf]="games" let-isLast="last">
                <app-game-section mat-list-item [game]="game"></app-game-section>
                <mat-divider *ngIf="!isLast" ></mat-divider>
            </ng-template>
        </mat-action-list>
    </mat-tab>
</mat-tab-group>



