<ng-template [ngIf]="sheetConfig">
    <div class="pages" #pages [class.ratio-A4]="sheetConfig.pageConfig.pageFormat === 'A4'">
        <div class="page" id="page-1">
            <div class="page-input-container">
                <ng-template ngFor let-config [ngForOf]="sheetConfig.content.page1" >
                    <app-placeholder [config]="config" [characterData]="characterData"></app-placeholder>
                </ng-template>        
            </div>
        </div>
    </div>
</ng-template>
