:host {
    .save-button {
        position: absolute;
        top: 0;
        right: 0;
        background-color: var(--color-floating-button-background);
        
        &.saving {
            color: blue;

            mat-icon {
                animation: rotating 2s infinite linear;
            }
        }
        &.saved {
            color: green;
        }
    }
}